body {
    background-image: unset;
}

.erreur {
    display: block;
}

.saveSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.erreur:not(form.newUser .erreur) {
    position: static;
    display: none;
}

table a {
    color: #00000000;
}

table a.reset {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'><path d='M48.4613 26.5385H11.5382C8.99977 26.5385 6.92285 28.6154 6.92285 31.1538V53.0769C6.92285 55.6154 8.99977 57.6923 11.5382 57.6923H48.4613C50.9998 57.6923 53.0767 55.6154 53.0767 53.0769V31.1538C53.0767 28.6154 50.9998 26.5385 48.4613 26.5385ZM35.769 51.3462C34.0382 52.5 32.0767 53.0769 29.9998 53.0769C29.3075 53.0769 28.6152 52.9615 27.9229 52.8462C25.1536 52.2692 22.8459 50.7692 21.3459 48.4615L25.1536 45.9231C25.9613 47.1923 27.3459 48.1154 28.8459 48.3462C30.3459 48.6923 31.8459 48.3462 33.2305 47.4231C35.8844 45.6923 36.5767 42 34.8459 39.4615C34.0382 38.1923 32.6536 37.2692 31.1536 37.0385C29.6536 36.6923 28.1536 37.0385 26.769 37.9615C26.4229 38.1923 26.1921 38.4231 25.9613 38.6538L29.9998 42.6923H19.6152V32.3077L22.6152 35.3077C23.0767 34.8462 23.6536 34.3846 24.1152 34.0385C26.4229 32.5385 29.1921 31.9615 31.9613 32.4231C34.7305 33 37.0382 34.5 38.5382 36.8077C41.769 41.6538 40.4998 48.1154 35.769 51.3462Z' fill='black'/><path d='M12.6919 21.9231H17.3073C17.9996 21.9231 18.4612 21.5769 18.4612 20.8846V20.7692C18.4612 14.1923 24.115 8.76923 30.8073 9.23077C36.9227 9.69231 41.5381 15 41.5381 21.2308V20.8846C41.5381 21.5769 41.9996 21.9231 42.6919 21.9231H47.3073C47.9996 21.9231 48.4612 21.5769 48.4612 20.8846V20.7692C48.4612 10.2692 39.6919 1.84615 29.0765 2.30769C19.2689 2.76923 11.7689 11.0769 11.5381 20.8846C11.6535 21.4615 12.115 21.9231 12.6919 21.9231Z' fill='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.35rem;
}

table a.delete, button.delete {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'><path d='M7.5 7.5L15 15M15 15L25 25M15 15V45C15 49.1423 18.3579 52.5 22.5 52.5H37.5C41.6423 52.5 45 49.1423 45 45M15 15H10M25 25L35 35M25 25V42.5M45 45L35 35M45 45L52.5 52.5M35 35V42.5M45 15V30.9765M45 15H40M45 15H50M40 15L38.6395 10.9188C37.959 8.87715 36.0483 7.5 33.8963 7.5H26.1037C24.856 7.5 23.6893 7.96297 22.7965 8.75M40 15H29.0333' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5rem;
}


.dynamic, .modules, .professeurs {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.dynamic button, .modules button, .professeurs button {
    background-color: white;
    border: 1px solid #1B4965;
    padding: 0.5rem;
    border-radius: 1.25rem;
    margin-bottom: 0.5rem;
    width: 40%;
    min-height: 5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.dynamic button:hover, .dynamic button:focus, .modules button:hover, .modules button:focus, .professeurs button:hover, .professeurs button:focus {
    background-color: #1B4965;
    color: white;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.back {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: #1B4965;
    border-radius: 150px;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'><path d='M15 30H45M15 30L27.5 17.5M15 30L27.5 42.5' stroke='white' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5rem;
}

.filAriane button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.title>p {
    margin: 0;
    width: 8rem;
    margin-left: auto;
}

.competence, .module, .professeur, .groupe, .classeButton {
    border: #1B4965 solid 1px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.competence button, .module button, .professeur button, .groupe button, .classeButton button {
    border: none;
}

.competence button:hover, .competence button:focus, .module button:hover, .module button:focus, .professeur button:hover, .professeur button:focus, .groupe button:hover, .groupe button:focus, .classeButton button:hover, .classeButton button:focus {
    background-color: unset;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
    width: 100%;
    height: 100%;
    background-color: #000000da;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white; 
    gap: 3rem;
}

.modules h2, .professeurs h2 {
    width: 100%;
    margin-top: 80px;
    margin-left: 15px;
}

div.groupe, div.classeButton {
    cursor: pointer;
    transition: all 0.5s ease;
}

div.groupe:hover, div.groupe:focus, div.classeButton:hover, div.classeButton:focus {
    background-color: #1B4965;
    color: white;
}
.bodyadmin{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.adminlink{
    text-decoration: none;
}

.adminbtn{
    text-align: center;
    border: solid 1px #1B4965;
    color: #1B4965;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-left: auto;
    width: 40vw;
    height: 30vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.adminbtn:hover{
    background-color: #1B4965;
    color: white;
}
