body {
    background-image: url(../img/univ.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.flexbox {
    display: flex;
    gap: 5%;
    justify-content: center;
    position: fixed;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flexbox div {
    flex-shrink: 0;
}

h1 {
    color: white;
    font-size: 2.75rem;
    text-align: center;
}

.card {
    background-color: #F1FAFF;
    max-width: 500px;
    height: 500px;
    border-radius: 40px;
    padding: 25px 38px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    margin-left: -10px;
    font-size: 1.8rem;
    margin-top: 10px;
}

h2::after {
    content: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc3MScgaGVpZ2h0PSc3MScgdmlld0JveD0nMCAwIDcxIDcxJyBmaWxsPSdub25lJz48cGF0aCBkPSdNMzUuNSA4Ljg3NUwyLjk1ODM3IDI2LjYyNUwxNC43OTE3IDMzLjA3NDJWNTAuODI0MkwzNS41IDYyLjEyNUw1Ni4yMDg0IDUwLjgyNDJWMzMuMDc0Mkw2Mi4xMjUgMjkuODQ5NlY1MC4yOTE3SDY4LjA0MTdWMjYuNjI1TDM1LjUgOC44NzVaTTU1LjY3NTkgMjYuNjI1TDM1LjUgMzcuNjNMMTUuMzI0MiAyNi42MjVMMzUuNSAxNS42Mkw1NS42NzU5IDI2LjYyNVpNNTAuMjkxNyA0Ny4zMzMzTDM1LjUgNTUuMzhMMjAuNzA4NCA0Ny4zMzMzVjM2LjI5ODdMMzUuNSA0NC4zNzVMNTAuMjkxNyAzNi4yOTg3VjQ3LjMzMzNaJyBmaWxsPScjMUI0OTY1Jy8+PC9zdmc+");
    position: absolute;
    top: 15px;
    right: 17px;
}

.card p {
    font-size: 1.25rem;
    margin-left: 10px;
}
.nomcit{
    text-align: right;
    margin: 0;
}

.connexionButton {
    display: block;
    background-color: #1B4965;
    width: 230px;
    height: 45px;
    border-radius: 40px;
    color: white;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

.backButton {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -45px;
}

.formulaire {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F1FAFF;
    border-radius: 40px;
    width: 750px;
    height: 360px;
    padding: 25px 35px;
}

.formulaire h2 {
    font-size: 2rem;
    margin: 0;
}

.formulaire p {
    font-size: 1.5rem;
    margin: 0;
    margin-top: -5px;
    margin-bottom: 30px;
}

.champ {
    margin-top: 15px;
}

.formulaire label {
    position: absolute;
    display: inline-block;
    font-size: 1.1rem;
    transform: translate(-530px, 12px);
    z-index: 3;
    color: #2e2e2e;
    cursor: text;
    transition: all 0.3s ease;
}

.champ input[type="text"],
.champ input[type="password"] {
    background-color: #ffffff;
    width: 550px;
    height: 45px;
    border-radius: 40px;
    outline: 0;
    padding-left: 25px;
    font-size: 1.2rem;
    border: 1px solid #2e2e2e;
}

.champ input:focus~label,
.champ input:valid~label {
    transform: translate(-530px, -22px);
    color: #000000;
}

p.erreur {
    color: #ff0000;
    margin: 0;
    font-size: 0.95rem;
    margin-top: -30px;
    margin-bottom: 20px;
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
}

footer button {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 15px;
    display: block;
}

@media screen and (max-width: 1060px) {
    .flexbox {
        position: relative;
        transform: none;
        top: auto;
        left: auto;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;
    }
}