.edt{
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    text-align: center;
}
.edt h3{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.cours{
    border: solid 2px;
    border-radius: 10px;
    grid-column: 2;
    margin: 3px;
    margin-right: 30px;
    position: relative;
    z-index: 2;
}
.heure{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 0.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.heure p{
    margin: 0;
}
.invisible{
    visibility: hidden;
}
.semiinvisible{
    opacity: 50%;    
}
.line{
    position: absolute;
    border: dashed 1px;
    width: 30vw;
    height: 0px;
    left: 70%;
    opacity: 30%;
}

/* start des cours */
.S8h00{grid-row-start: 2;}
.S8h15{grid-row-start: 3;}
.S8h30{grid-row-start: 4;}
.S8h45{grid-row-start: 5;}
.S9h00{grid-row-start: 6;}
.S9h15{grid-row-start: 7;}
.S9h30{grid-row-start: 8;}
.S9h45{grid-row-start: 9;}
.S10h00{grid-row-start: 10;}
.S10h15{grid-row-start: 11;}
.S10h30{grid-row-start: 12;}
.S10h45{grid-row-start: 13;}
.S11h00{grid-row-start: 14;}
.S11h15{grid-row-start: 15;}
.S11h30{grid-row-start: 16;}
.S11h45{grid-row-start: 17;}
.S12h00{grid-row-start: 18;}
.S12h15{grid-row-start: 19;}
.S12h30{grid-row-start: 20;}
.S12h45{grid-row-start: 21;}
.S13h00{grid-row-start: 22;}
.S13h15{grid-row-start: 23;}
.S13h30{grid-row-start: 24;}
.S13h45{grid-row-start: 25;}
.S14h00{grid-row-start: 26;}
.S14h15{grid-row-start: 27;}
.S14h30{grid-row-start: 28;}
.S14h45{grid-row-start: 29;}
.S15h00{grid-row-start: 30;}
.S15h15{grid-row-start: 31;}
.S15h30{grid-row-start: 32;}
.S15h45{grid-row-start: 33;}
.S16h00{grid-row-start: 34;}
.S16h15{grid-row-start: 35;}
.S16h30{grid-row-start: 36;}
.S16h45{grid-row-start: 37;}
.S17h00{grid-row-start: 38;}
.S17h15{grid-row-start: 39;}
.S17h30{grid-row-start: 40;}
.S17h45{grid-row-start: 41;}

/* end des cours */
.E8h15{grid-row-end: 4;}
.E8h30{grid-row-end: 5;}
.E8h45{grid-row-end: 6;}
.E9h00{grid-row-end: 7;}
.E9h15{grid-row-end: 8;}
.E9h30{grid-row-end: 9;}
.E9h45{grid-row-end: 10;}
.E10h00{grid-row-end: 11;}
.E10h15{grid-row-end: 12;}
.E10h30{grid-row-end: 13;}
.E10h45{grid-row-end: 14;}
.E11h00{grid-row-end: 15;}
.E11h15{grid-row-end: 16;}
.E11h30{grid-row-end: 17;}
.E11h45{grid-row-end: 18;}
.E12h00{grid-row-end: 19;}
.E12h15{grid-row-end: 20;}
.E12h30{grid-row-end: 21;}
.E12h45{grid-row-end: 22;}
.E13h00{grid-row-end: 23;}
.E13h15{grid-row-end: 24;}
.E13h30{grid-row-end: 25;}
.E13h45{grid-row-end: 26;}
.E14h00{grid-row-end: 27;}
.E14h15{grid-row-end: 28;}
.E14h30{grid-row-end: 29;}
.E14h45{grid-row-end: 30;}
.E15h00{grid-row-end: 31;}
.E15h15{grid-row-end: 32;}
.E15h30{grid-row-end: 33;}
.E15h45{grid-row-end: 34;}
.E16h00{grid-row-end: 35;}
.E16h15{grid-row-end: 36;}
.E16h30{grid-row-end: 37;}
.E16h45{grid-row-end: 38;}
.E17h00{grid-row-end: 39;}
.E17h15{grid-row-end: 40;}
.E17h30{grid-row-end: 41;}
.E17h45{grid-row-end: 42;}
.E18h00{grid-row-end: 43;}

/* color ? */
.color1{background-color: #ffffcfc5;}
.color2{background-color: #ffcfcfc5;}
.color3{background-color: #cfffcfc5;}
.color4{background-color: #cfbfffc5;}
.color5{background-color: #f0f0f0c5;}

