.panel{
    height: calc(100vh - 7rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.recherche{
    display: none;
}

.pnl.vsclr, .pnl.notes {
    padding: 10px;
}