/* waldi */
.panel{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pnl{
    border: solid 2px #787878;
    border-radius: 40px;
    margin: 1vw;
    overflow: hidden;
}
