.panel{
    height: calc(100vh - 7rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.pnl{
    border: solid 2px #787878;
    border-radius: 40px;
    margin: 1vw;
    overflow: hidden;
}
.recherche{
    display: none;
}

.pnl.vsclr, .pnl.notes {
    padding: 10px;
}