.conversation {
    background-color: #CFEEFF;
    border-radius: 1.875rem;
    width: 60%;
    padding: 4.45rem 2.75rem;
    margin-left: 1.3%;
}

.message {
    border: solid 1px #000b3e;
    border-radius: 0.625rem;
    padding: 0.5rem;
    width: fit-content;
    max-width: 80%;
    margin-left: 2.75rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.message p {
    margin: 0;
    width: fit-content;
}

.message::before {
    content: "";
    position: absolute;
    background-image: var(--img);
    background-size: cover;
    width: 3.125rem;
    height: 3.125rem;
    z-index: 4;
    left: -3.75rem;
    top: -0.5rem;
}

.moi {
    margin-left: auto;
    margin-right: 2.75rem;
}

.moi::before {
    left: auto;
    right: -3.75rem;
}