body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flexMessages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 7rem);
    gap: 1rem;
    padding: 1rem 0;
}

.receiverInfos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #1B4965;
    color: white;
    border-radius: 2.5rem;
    padding: 0.75rem;
    padding-right: 1.5rem;
}

.receiverInfos a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
}

.receiverInfos h1,
.receiverInfos p {
    margin: 0;
    font-size: 1.625rem;
    font-weight: 400;
}

.receiverInfos img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.conversation {
    flex-grow: 1;
    background-color: #CFEEFF;
    border-radius: 1.875rem;
    max-height: 35rem;
    padding: 0 0.75rem;
    overflow: hidden;
}

.messages {
    overflow-y: scroll;
    margin-right: 1rem;
    height: 100%;
    width: 100%;
    padding: 0rem 1.75rem 1rem 2rem;
}

.message {
    border: solid 1px #000b3e;
    border-radius: 0.625rem;
    padding: 0.5rem;
    width: fit-content;
    max-width: 70%;
    margin-left: 2.75rem;
    margin-bottom: 0.3rem;
    position: relative;
}

.message p {
    margin: 0;
    width: fit-content;
    word-break: break-word;
}

.message.first::before {
    content: "";
    position: absolute;
    background-image: var(--img);
    background-size: cover;
    width: 3.125rem;
    height: 3.125rem;
    z-index: 4;
    left: -3.75rem;
    top: -0.5rem;
    border-radius: 300px;
    object-fit: cover;
}

.moi {
    margin-left: auto;
    margin-right: 2.75rem;
}

.moi.first::before {
    left: auto;
    right: -3.75rem;
}

.first {
    margin-top: 2.5rem;
}

form {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

form.msg textarea {
    border: none;
    border-radius: 2.5rem;
    width: 100%;
    height: 2.5rem;
    font-size: 1.25rem;
    outline: none;
    background-color: #1B4965;
    color: white;
    padding: 0.45rem 2.5rem 0.45rem 1.5rem;
    resize: none;
}

form.msg textarea::placeholder {
    color: #FFF;
    opacity: 0.4;
}

form.msg input[type=submit] {
    background-color: #1B4965;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'><path d='M51.9098 30H25.139M7.5 20.0001H13.75M10 30H13.75M11.25 40H13.75M24.9038 31.224L22.675 38.6215C21.8313 41.422 21.4094 42.8223 21.7684 43.6583C22.08 44.3843 22.7164 44.9203 23.4848 45.1038C24.3698 45.3153 25.6778 44.6613 28.2938 43.3533L47.8445 33.5778C50.1475 32.4263 51.2992 31.8505 51.6687 31.0713C51.9902 30.3933 51.9902 29.6068 51.6687 28.9288C51.2992 28.1495 50.1475 27.5738 47.8445 26.4223L28.267 16.6336C25.6582 15.3292 24.3539 14.677 23.4697 14.8876C22.702 15.0704 22.0657 15.605 21.7532 16.3296C21.3933 17.1642 21.8107 18.5615 22.6455 21.3562L24.9065 28.9253C25.0343 29.3528 25.098 29.5665 25.1233 29.7843C25.1458 29.9775 25.1455 30.1725 25.1225 30.3658C25.0967 30.5835 25.0325 30.797 24.9038 31.224Z' stroke='white' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border: none;
    border-radius: 500rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0);
}

.side {
    background-color: #CFEEFF;
    border-radius: 1.875rem;
    padding: 0 0 0 0.75rem;
    overflow: hidden;
    margin: 1rem 0;
    max-height: calc(100vh - 9rem);
    border: 1px solid #1B4965;
}

.contacts {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding: 1.25rem 0.25rem 1.25rem 0;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #FFF;
    border: 1px solid #1B4965;
    padding: 0.5rem;
    border-radius: 1.25rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.current {
    background-color: #ffffffde;
    border: 3px solid #1B4965;
}

.contact img {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 150px;
}

.contact div{
    display: grid;
    grid-template-columns: 1fr;
}

.contact h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: #1B4965;
}

.contact p {
    margin: 0;
    color: #545454;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.erreur {
    left: 69%;
}

.erreur::before{
    content: "";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000000;
    position: absolute;
    bottom: -0.6rem;
    left: 1.5rem;
}

.newConv {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 30%;
}

form [disabled="disabled"] {
    cursor: not-allowed!important;
    background-color: #515151!important;
}