.profil {
    overflow-y: scroll;
    height: calc(100vh - 7rem);
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}
.character{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.character img{
    width: 13vw;
}
.character p{
    font-style: italic;
}
.class{
    font-weight: bold;
}
.youu{
    position: relative;
    top: -15px;
}
.youu .text{
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
}
h1{
    margin: 0;
}
p{
    margin: 10px;
}
.bouton{
    background-color: #1B4965;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 10px;
    width: 15vw;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}
.contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.zone{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #787878;
    border-radius: 40px;
    margin-right: 10px;
    margin-top: 20px;
    width: 27vw;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
}
.projet{
    height: 10vh;
    border-bottom: solid 1px #787878;
    width: 100%;
}
.projets-list{
    width: 100%;
    height: 40vh;
    border-top: solid 1px #787878;
    overflow-y: scroll;
    overflow-x: hidden;
}
h2{
    margin: 10px;
}
.recherche{
    display: none;
}