*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(90deg, #d3eeff 0%,#d3eeff 64%, #ffffff 64%, #ffffff 100%);
}

@font-face {
    font-family: 'Inter';
    src:url('../font/Inter-Regular.woff2') format('woff2'),
        url('../font/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:url('../font/Inter-Bold.woff2') format('woff2'),
        url('../font/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:url('../font/Inter-Medium.woff2') format('woff2'),
        url('../font/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:url('../font/Inter-SemiBold.woff2') format('woff2'),
        url('../font/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src:url('../font/Inter-Italic.woff2') format('woff2'),
        url('../font/Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #1B4965;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    height: 7rem;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

header nav a:not(.logout) {
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav a.logo {
    margin-right: auto;
    margin-left: 1.3rem;
}

header nav a.logo img {
    width: 3.875rem;
    filter: saturate(0) invert(1) brightness(100);
}

header nav div.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
}

header nav div.text p {
    color: #fff;
    margin: 0;
}

header nav div.text p:first-of-type {
    font-size: 1.6rem;
}

header nav div.text p:last-of-type {
    font-size: 1.25rem;
}

header nav a.logo div.text p:first-of-type {
    font-weight: 700;
}

header nav a.logo div.text p:last-of-type {
    font-weight: 600;
}

header nav a.user div.text p:first-of-type {
    font-weight: 500;
}

header nav a.user img {
    width: 4.25rem;    
}

header nav a.logout {
    margin-right: 1.75rem;
    width: 3.125rem;
}

.customScroll::-webkit-scrollbar {
    width: 6px;
    background-color: #00000000;
}

.customScroll::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a7a7a7;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.3rem;
    padding: 0 1.3rem;
    flex-grow: 1;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.grid h1 {
    font-size: 2.5rem;
    margin-top: 30px;
}


/* waldi */
.profil{
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}
.character{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.character img{
    width: 13vw;
}
.character p{
    font-style: italic;
}
.class{
    font-weight: bold;
}
.youu{
    position: relative;
    top: -15px;
}
.youu .text{
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
}
h1{
    margin: 0;
}
p{
    margin: 10px;
}
.bouton{
    background-color: #1B4965;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 10px;
    width: 15vw;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}
.contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.zone{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #787878;
    border-radius: 40px;
    margin-right: 10px;
    margin-top: 20px;
    width: 27vw;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
}
.projet{
    height: 10vh;
    border-bottom: solid 1px #787878;
    width: 100%;
}
.projets-list{
    width: 100%;
    height: 40vh;
    border-top: solid 1px #787878;
    overflow-y: scroll;
    overflow-x: hidden;
}
h2{
    margin: 10px;
}
